{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {lager_truncation_size, 32768}
]}.

{deps, [
    {cowboy, "2.7.0"},
    {lager, "3.8.0"},
    {'mysql-otp-poolboy', {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {tag, "0.1.12"}}},
    jsx,
    ibrowse
]}.

{relx, [{release, {eos, "0.1.0"},
         [
             inets,
             eos,
             sasl,
             cowboy,
             lager,
             jsx,
             mysql_poolboy
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx,
    [
        {dev_mode, false},
        {include_erts, true},
        {include_src, false}
    ]}]
}]
}.